@media (prefers-reduced-motion: no-preference) {
  .color-animated {
    &--active {
      flex: 1 1 100%;
    }

    &--hidden {
      flex: 0 0 0;
      max-height: calc(var(--body-line-height) * var(--text-unit));
      overflow: hidden;
      height: 0;
      margin: 0 !important;
      transition: flex .3s, margin .3s, opacity .3s;
    }

    &:hover &--active {
      flex: 1;
    }

    &:hover &--hidden {
      flex: 1;
      height: inherit;
      margin: 15px 0 !important;
    }
  }
}
