.grid__invalid {
  display: grid;
  gap: 88px;
  grid-template: repeat(6, 1fr) / repeat(1, 1fr);
  @include breakpoint(xs) {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
  @include breakpoint(sm) {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  //grid-template-rows: 1fr 1fr;
  //grid-template-columns: 1fr 1fr 1fr;
}