@mixin gapper($gap: null) {
  @if ($gap == null) {
    $gap: var(--space-md)
  }
  --gap: #{$gap};
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
  & > * {
    margin-bottom: var(--gap);
    margin-left: var(--gap);
  }
}

h2 {
  text-align: center;
  color: var(--color-primary);
  font-size: 36px;
}

p {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);

  &.text-color-secondary {
    color: rgba(0, 0, 0, 0.40);
  }
}

.section {
  display: flex;
  gap: 150px;
  padding: 150px var(--space-xxl);
  flex-direction: column;
  text-align: center;

  @include breakpoint(sm) {
    padding: 150px var(--space-lg);
  }
}

.figure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px var(--space-lg);
  gap: 50px;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
    padding: 50px 0;
  }
}

figure {
  text-align: center;

  img {
    margin-bottom: var(--space-sm);
  }

  figcaption {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
  }
}

.section__colored {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.section__colored--bg {
  margin: 0;
  width: 100vw;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  padding: 95.5px 20%;
}

.section__colored--group {
  @include breakpoint(sm) {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }

  & > * {
    margin: 15px 0;
  }
}

.section__colored--mark:not([class*='color-']) {
  color: var(--color-white);
}

$sizes: 250, 300, 600;

.logo {
  max-height: 50vh;
  max-width: 50vw;
}

@each $size in $sizes {
  .logo__#{$size} {
    width: #{$size}px;
    height: #{$size}px;
  }
}
