.sample__card {
  display: flex;
  width: 100vw;
  flex-wrap: nowrap;
  flex-direction: column;
  @include breakpoint(sm) {
    flex-direction: row;
  }
  border-bottom: solid var(--color-black) 1px;
  &:last-child {
    border-bottom: none;
  }
}

$backgrounds: 'b-n-w', 'default', 'mono';

@each $bg in $backgrounds {
  .sample__bg--#{$bg} {
    background-image: url("../images/bg/#{$bg}.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sample__img {
  height: 600px;
  padding: 150px;
  text-align: center;
  @include breakpoint(sm) {
    img {
      min-width: 300px;
      min-height: 300px;
    }
  }
}

.sample__text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;

  p {
    color: rgba(0, 0, 0, .5);
    font-size: 24px;
  }
}