/* --------------------------------

File#: _1_alert
Title: Alert
Descr: Feedback message
Usage: codyframe.co/license

-------------------------------- */

.alert {
  padding: var(--space-xs) var(--space-sm);
  z-index: var(--zindex-popover); /* Specify a stack order in case you're using a different order for other elements */

  left: 50%;
  transform: translate(-50%);

  background-color: var(--color-primary-lighter);
  border-radius: var(--radius-md);
  color: var(--color-contrast-higher);
  // hide element
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.alert__link {
  color: inherit;
  text-decoration: underline;
}

.alert__close-btn {
  display: inline-block; // flex fallback
  flex-shrink: 0;
  margin-left: var(--space-sm);

  .icon {
    display: block;
  }
}

// themes
.alert--success {
  background-color: var(--color-success-lighter);
}

.alert--error {
  background-color: var(--color-error-lighter);
}

.alert--warning {
  background-color: var(--color-warning-lighter);
}

.alert--info, .alert--primary {
  background-color: var(--color-primary-lighter);
}

// toggle visibility
.alert--is-visible {
  position: fixed;
  clip: auto;
  clip-path: none;
}