/* --------------------------------

File#: _1_keyboard-input
Title: Keyboard Input
Descr: Custom style for the Keyboard Input inline element
Usage: codyhouse.co/license

-------------------------------- */

kbd {
  background-color: var(--color-contrast-lower);
  color: var(--color-contrast-high);
  padding: var(--space-xxxxs) var(--space-xxs);
  border-radius: 0.25em;
  box-shadow: inset 0 -2px 0 var(--color-contrast-low), 0 1px 1px rgba(#000, 0.05);
}