/* --------------------------------

File#: _1_stories
Title: Stories
Descr: A collection of related article tasters
Usage: codyframe.co/license

-------------------------------- */

.stories {
    background-color: var(--color-contrast-lower);
    padding: var(--component-padding);
    border-radius: var(--radius-md);

    @include breakpoint(md) {
      font-size: var(--text-sm);
    }
  }

  .stories__legend {
    font-size: 1em;
    margin-bottom: var(--space-md);
    color: var(--color-contrast-medium);
  }

  .stories__story {
    display: flex;

    &:not(:last-child) {
      margin-bottom: var(--space-sm);
      padding-bottom: var(--space-sm);
      border-bottom: 1px solid var(--color-contrast-low);
    }
  }

  .stories__img-wrapper {
    display: block;
    width: 3.6em;
    height: 3.6em;
    border-radius: var(--radius-md);
    overflow: hidden;
    flex-shrink: 0;
    transition: opacity .2s;
    margin-right: var(--space-xs);

    figure, img {
      width: inherit;
      height: inherit;
    }

    img {
      display: block;
      object-fit: cover;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  .stories__text {
    margin-top: var(--space-xxxs);
  }

  .stories__headline {
    font-size: var(--text-md);
  }

  .stories__metadata {
    color: var(--color-contrast-medium);
    font-size: var(--text-sm);
    text-transform: uppercase;
  }

  .stories__headline a,
  .stories__metadata a {
    color: var(--color-contrast-higher);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .stories__separator {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    background-color: var(--color-contrast-low);
    border-radius: 50%;
    margin: 0 var(--space-xxxs);
  }