// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/typography

// --------------------------------
:root {
  // font family
  --font-primary: "Museo Sans Cyrl",
  system-ui, sans-serif;

  // font size
  --text-base-size: 1em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Em to Rem units)
  --text-unit: 1em; // if not Em units → --text-unit: var(--text-base-size);
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@supports (--css: variables) {
  @include breakpoint(md) {
    :root {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}

// font family
.font-primary {
  font-family: var(--font-primary);
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------

// link style
a, .link {
}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  hr {
    background: var(--color-contrast-low);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-vspace-multiplier: 1.2; // increase vertical spacing
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'),
  url('public/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-300Italic.eot');
  src: local('MuseoSansCyrl-300Italic'),
  url('public/fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-500Italic.eot');
  src: local('MuseoSansCyrl-500Italic'),
  url('public/fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-500Italic.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-500Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'),
  url('public/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
  url('public/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-700Italic.eot');
  src: local('MuseoSansCyrl-700Italic'),
  url('public/fonts/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'),
  url('public/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-100.eot');
  src: local('MuseoSansCyrl-100'),
  url('public/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-100.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-100Italic.eot');
  src: local('MuseoSansCyrl-100Italic'),
  url('public/fonts/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-100Italic.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-100Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('public/fonts/MuseoSansCyrl-900Italic.eot');
  src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
  url('public/fonts/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/MuseoSansCyrl-900Italic.woff') format('woff'),
  url('public/fonts/MuseoSansCyrl-900Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
