{% extends 'layout/admin.html' %}

{% block content %}
  <script src="/js/editor.js"></script>

  <form action="" enctype="multipart/form-data" method="post" class="">

    <div class="text-component text-center margin-bottom-sm">
      <h1>Раздел "Обо мне"</h1>
    </div>

    <div class="grid gap-sm margin-bottom-sm">
      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="subheader">Верхний малый заголовок</label>
        <input class="form-control width-100%" id="subheader" name="subheader" placeholder="Малый заголовок" type="text"
               value="{{ data.subheader }}">
      </div>
      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="header">Главный заголовок</label>
        <input class="form-control width-100%" id="header" name="header" placeholder="Крупный заголовок" type="text"
               value="{{ data.header }}">
      </div>

      <div class="col-12">
        <label class="form-label margin-bottom-xxs" for="content">Текст на странице "Обо мне":</label>
        <textarea class="form-control width-100%" id="content" name="content" required>{{ data.content }}</textarea>
      </div>

    </div>

    <script>
      Editor
        .create(document.querySelector('#content'), {
          simpleUpload: {
            uploadUrl: "/admin/ckeditor/upload_photo/about_me/"
          },
        })
        .then(editor => {
          window.editor = editor;
        })
        .catch(error => {
          console.error('Oops, something gone wrong!');
          console.error(error);
        });
    </script>

    <div class="flex flex-column flex-row@xs gap-xs">
      <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
      <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
    </div>
  </form>

{% endblock %}