{% extends 'layout/admin.html' %}
{% from 'layout/components.html' import alert as alert_macro, icons, modal %}

{% block content %}
  <div class="text-component text-center margin-bottom-sm">
    <h1>Шапка сайта</h1>
  </div>

  {% if data %}
    <button aria-controls="modal-new" class="btn btn--primary text-right">Создать ссылку в шапке</button>

    <div class="tbl margin-y-sm">
      <table aria-label="Ссылки в шапке" class="tbl__table border-bottom border-2">
        <thead class="tbl__header border-bottom border-2">
        <tr class="tbl__row">
          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Название</span>
          </th>

          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Ссылка</span>
          </th>

          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Действия</span>
          </th>

        </tr>
        </thead>

        <tbody class="tbl__body">
        {% for d in data %}
          <tr class="tbl__row">
            <td class="tbl__cell" role="cell">{{ d.name }}</td>

            <td class="tbl__cell" role="cell">
              <a aria-label="Ссылка на '{{ d.name }}'" href="/{{ d.url }}" target="_blank">
                /{{ d.url }}
              </a>
            </td>

            <td class="tbl__cell" role="cell">
              <button aria-controls="menu-faq-{{ d.id }}" class="menu-bar__item reset">
                {{ icons('ellipsis-h', classes='menu-bar__icon') }}
              </button>

              <menu class="menu js-menu" id="menu-faq-{{ d.id }}" type="toolbar">
                <li aria-controls="modal-edit-{{ d.id }}" role="menuitem">
                  <span class="menu__content js-menu__content">
                    {{ icons('pen', classes='menu__icon') }}
                    <span>Редактировать</span>
                  </span>
                </li>

                <li aria-controls="modal-del-{{ d.id }}" role="menuitem">
                  <span class="menu__content js-menu__content">
                    {{ icons('trash-alt', classes='menu__icon') }}
                    <span>Удалить</span>
                  </span>
                </li>
              </menu>

            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


    {% for d in data %}
      {% call modal('edit-' ~ d.id, "Редактировать ссылку в шапке") %}
        <form action="/admin/headers/edit/{{ d.id }}" class="margin-bottom-sm" enctype="multipart/form-data"
              method="post">

          <div class="margin-bottom-md">
            <label class="form-label margin-bottom-xxxs" for="edit-{{ d.id }}-name">Название</label>
            <input class="form-control width-100%" id="edit-{{ d.id }}-name" name="name"
                   placeholder="{{ d.name }}" required type="text" value="{{ d.name }}">
          </div>


          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxxs" for="edit-{{ d.id }}-url">Ссылка</label>
            <div class="input-group">
              <div class="input-group__tag">https://mp.zspo.ru/</div>
              <input class="form-control flex-grow" id="edit-{{ d.id }}-url" inputmode="url"
                     name="url" pattern="([a-z0-9_\-.#?&/=]*)" placeholder="{{ d.url }}" type="text"
                     value="{{ d.url }}">
            </div>
          </div>

          <div class="flex flex-column flex-row@xs gap-xs">
            <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
            <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
          </div>

        </form>
      {% endcall %}

      {% call modal('del-' ~ d.id, "Удалить ссылку", "Вы уверены, что хотите удалить данную ссылку?") %}
        <div class="flex flex-column flex-row@xs gap-xs">
          <a class="btn btn--primary btn--md width-100%" href="/admin/headers/del/{{ d.id }}">Удалить</a>
          <button class="btn btn--secondary btn--md width-100% js-modal__close" type="reset">Закрыть</button>
        </div>
      {% endcall %}

    {% endfor %}
  {% else %}
    <h3 class="text-component margin-bottom-sm text-center">Вы ещё не создали ни одной категории</h3>
  {% endif %}


  <button aria-controls="modal-new" class="btn btn--primary text-right">Создать ссылку в шапке</button>

  {% call modal('new', "Создать ссылку в шапке") %}
    <form action="" class="margin-bottom-sm" enctype="multipart/form-data" method="post">

      <div class="margin-bottom-md">
        <label class="form-label margin-bottom-xxxs" for="new-name">Название</label>
        <input class="form-control width-100%" id="new-name" name="name"
               placeholder="О портале" required type="text">
      </div>


      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="new-url">Ссылка</label>
        <div class="input-group">
          <div class="input-group__tag">mp.zspo.ru/</div>
          <input class="form-control flex-grow" id="new-url" inputmode="url"
                 name="url" pattern="([a-z0-9_\-.#?&/=]*)" placeholder="about" type="text">
        </div>
      </div>


      <div class="flex flex-column flex-row@xs gap-xs">
        <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
        <button class="btn btn--secondary btn--md width-100%" type="reset">Сбросить форму</button>
      </div>

    </form>
  {% endcall %}
{% endblock %}