{% extends 'layout/admin.html' %}
{% from 'layout/components.html' import image_input %}

{% block content %}
  <div class="text-component text-center margin-bottom-sm">
    <h1>Главная страница</h1>
  </div>

  <form action="" class="margin-y-sm" enctype="multipart/form-data" method="post">
    <fieldset class="margin-bottom-md">
      <legend class="form-legend">Редактирование текстовой информации заглавия основной страницы</legend>

      <div class="grid gap-sm">
        <div class="col-6@md">
          <label class="form-label margin-bottom-xxs" for="header">Главный заголовок</label>
          <input class="form-control width-100% margin-bottom-xxs" id="header" name="header"
                 placeholder="Опытные психологи онлайн" type="text" value="{{ data.header }}">
        </div>

        <div class="col-6@md">
          <label class="form-label margin-bottom-xxs" for="subheader">Подзаголовок</label>
          <input class="form-control width-100% margin-bottom-xxs" id="subheader" name="subheader"
                 placeholder="Видео и аудио сессии с психологом" type="text" value="{{ data.subheader }}">
        </div>
      </div>
    </fieldset>

    <fieldset class="margin-bottom-md">
      <legend class="form-legend">Редактирование фоновых изображений заглавия основной страницы</legend>
      <div class="grid gap-sm">
        <div class="col-12@md">
          {{ image_input('background', 'Картинка для заднего фона', data.background, False) }}
        </div>
      </div>
    </fieldset>

    <div class="flex flex-column flex-row@xs gap-xs">
      <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить изменения</button>
      <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить</button>
    </div>
  </form>

{% endblock %}