{% extends 'layout/admin.html' %}
{% set max_character = 150 %}

{% block content %}
  <form action="" enctype="multipart/form-data" method="post">
    <div class="text-component text-center margin-bottom-sm">
      <h1>Редактирование Мета-данных</h1>
    </div>
    <fieldset class="margin-bottom-md">
      <legend class="form-legend">CEO</legend>

      <div class="grid gap-sm">
        <div class="character-count js-character-count">
          <label class="form-label margin-bottom-xxs" for="keywords">Ключевые слова (через <kbd>,</kbd>)</label>
          <input class="form-control width-100% js-character-count__input" id="keywords" name="keywords"
                 placeholder="Ключевые слова для роботов поисковых машин" required
                 type="text" value="{{ data.keywords }}">

          <div aria-atomic="true" aria-live="polite"
               class="character-count__helper character-count__helper--dynamic text-sm margin-top-xxxs">
            Осталось <span class="js-character-count__counter"></span> символов
          </div>

          <div class="character-count__helper character-count__helper--static text-sm margin-top-xxxs">
            Максимально {{ max_character }} символов
          </div>
        </div>

      </div>
    </fieldset>

    <fieldset class="margin-bottom-md">
      <legend class="form-legend">Метрики</legend>

      <div class="grid gap-sm">
        <div class="col-6@md">
          <label class="form-label margin-bottom-xxs" for="yandex">
            <span style="color: #f00">Y</span><span style="color: #000">andex</span> Метрика
          </label>
          <textarea class="form-control width-100%" id="yandex" name="yandex"
                    required>{{ data.yandex }}</textarea>
        </div>
        <div class="col-6@md">
          <label class="form-label margin-bottom-xxs" for="google">
            <span style="color: #4285f4">G</span><span style="color: #ea4335">o</span><span
                  style="color: #fbbc05">o</span><span style="color: #4285f4">g</span><span
                  style="color: #34a853">l</span><span style="color: #ea4335">e</span> Аналитика
          </label>
          <textarea class="form-control width-100%" id="google" name="google">{{ data.google }}</textarea>
        </div>
      </div>

    </fieldset>

    <div class="flex flex-column flex-row@xs gap-xs">
      <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
      <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
    </div>
  </form>
{% endblock %}
