{% extends 'layout/admin.html' %}

{% block content %}
<form action="" enctype="multipart/form-data" method="post">
  <div class="text-component text-center margin-bottom-sm">
    <h1>Редактирование ссылок на Социальные сети</h1>
  </div>

    <div class="grid gap-sm margin-bottom-sm">
      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="vk">ВКонтакте</label>
        <div class="input-group">
          <div class="input-group__tag">{{ icons('vk') }}</div>
          <input class="form-control flex-grow" type="url" placeholder="https://vk.com/id1" name="vk" id="vk"
                 value="{{ data.get('vk', '') }}">
        </div>
      </div>

      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="viber">Viber</label>
        <div class="input-group">
          <div class="input-group__tag">{{ icons('viber') }}</div>
          <input class="form-control flex-grow" type="tel" placeholder="+7 (999) 880-55-35" name="viber" id="viber"
                 value="{{ data.get('viber', '') }}">
        </div>
      </div>

      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="whatsapp">WhatsApp</label>
        <div class="input-group">
          <div class="input-group__tag">{{ icons('whatsapp') }}</div>
          <input class="form-control flex-grow" type="tel" placeholder="+7 (999) 880-55-35" name="whatsapp"
                 id="whatsapp" value="{{ data.get('whatsapp', '') }}">
        </div>
      </div>

      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="mail">Почта</label>
        <div class="input-group">
          <div class="input-group__tag">{{ icons('envelope') }}</div>
          <input class="form-control flex-grow" type="email" placeholder="me@gmail.com" name="mail" id="mail"
                 value="{{ data.get('mail', '') }}">
        </div>
      </div>

      <div class="col-6@md">
        <label class="form-label margin-bottom-xxs" for="tel">Телефон</label>
        <div class="input-group">
          <div class="input-group__tag">{{ icons('phone-alt') }}</div>
          <input class="form-control flex-grow" type="tel" placeholder="+7 (999) 880-55-35" name="tel" id="tel"
                 value="{{ data.get('tel', '') }}">
        </div>
      </div>
    </div>

  <div class="flex flex-column flex-row@xs gap-xs">
    <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
    <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
  </div>
</form>
{% endblock %}