{% extends 'layout/index.html' %}

{% block og %}
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ post.description }}">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:article:published_time" content="{{ post.date.isoformat() }}">
  <meta property="og:url" content="{{ domain ~ "/news/" ~ post.id }}">
  <meta property="og:image" content="{{ domain ~ "/" ~ post.image }}">

  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.description }}">
  <meta name="twitter:image:src" content="{{ domain ~ "/" ~ post.image }}">
  <meta name="twitter:url" content="{{ domain ~ "/news/" ~ post.id }}">
{% endblock %}

{% block content %}
  <article class="container max-width-adaptive margin-y-md">
    <div class="padding-bottom-md border-bottom border-3 border-contrast-lower">
      <div class="grid flex-row-reverse@md gap-md">
        <div class="col-8@md col-12">
          <time class="color-contrast-medium text-sm margin-bottom-sm" datetime="{{ post.date.isoformat() }}">
            {{ post.date.strftime(config.DATE_FORMAT) }}
          </time>

          <div class="text-component">
            <h1 class="text-xxl@md">
              {{ post.title }}
            </h1>
            <p class="color-contrast-medium text-bold">
              {{ post.description }}
            </p>
          </div>
        </div>
        <div class="col-4@md col-12 flex flex-center">
          <img class="aspect-ratio__16-9 margin-md radius-lg shadow-lg" src="{{ post.image }}"
               alt="Изображение поста '{{ post.title }}'">
        </div>
      </div>
    </div>

    <div class="container max-width-adaptive text-component margin-top-lg">
      {{ post.content }}
    </div>
  </article>
  <section class="border-top container max-width-adaptive padding-top-sm margin-top-sm">
    <div class="text-component margin-bottom-sm">
      <p class="text-md">Поделиться новостью</p>
    </div>
    <ul class="sharebar flex flex-wrap gap-xs">
      {% set share_url = domain ~ '/news/' ~ post.id %}
      <li>
        <a class="sharebar__btn" data-social="twitter"
           href="https://twitter.com/intent/tweet?hashtags=mp,zspo,пенза&text={{ (post.title ~ '\n\nПодробнее читайте на сайте: ' ~ share_url)|urlencode }}"
           target="_blank">
          {{ icons('twitter') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="facebook"
           href="http://www.facebook.com/sharer.php?u={{ share_url|urlencode }}"
           target="_blank">
          {{ icons('facebook-f') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="vk"
           href="https://vk.com/share.php?url={{ share_url|urlencode }}"
           target="_blank">
          {{ icons('vk') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="ok"
           href="https://connect.ok.ru/offer?url={{ share_url|urlencode }}"
           target="_blank">
          {{ icons('odnoklassniki') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="telegram"
           href="https://telegram.me/share/url?url={{ share_url|urlencode }}&text={{ post.title|urlencode }}"
           target="_blank">
          {{ icons('telegram-plane') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="whatsapp"
           href="https://wa.me/?text={{ (post.title ~ ":\n\n" ~ share_url)|urlencode }}"
           target="_blank">
          {{ icons('whatsapp') }}
        </a>
      </li>

      <li>
        <a class="sharebar__btn" data-social="viber"
           href="viber://forward?text={{ (post.title ~ ":\n\n" ~ share_url)|urlencode }}"
           target="_blank">
          {{ icons('viber') }}
        </a>
      </li>

    </ul>
  </section>
{% endblock %}