{% extends 'layout/admin.html' %}

{% block content %}

  <div class="text-component text-center margin-bottom-sm">
    <h1>Категории новостей</h1>
  </div>

  {% if data %}
    <button aria-controls="modal-new" class="btn btn--primary text-right">Создать категорию</button>

    <div class="tbl margin-y-sm">
      <table aria-label="Категории блога" class="tbl__table border-bottom border-2">
        <thead class="tbl__header border-bottom border-2">
        <tr class="tbl__row">
          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Категория</span>
          </th>

          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Кол-во постов</span>
          </th>

          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Действия</span>
          </th>

        </tr>
        </thead>

        <tbody class="tbl__body">
        {% for d in data %}
          <tr class="tbl__row">
            <td class="tbl__cell" role="cell">{{ d.name }}</td>

            <td class="tbl__cell" role="cell">{{ len(d.get('posts')) }}</td>

            <td class="tbl__cell" role="cell">
              <button aria-controls="menu-news-cat-{{ d.id }}" class="menu-bar__item reset">
                {{ icons('ellipsis-h', classes='menu-bar__icon') }}
              </button>

              <menu class="menu js-menu" id="menu-news-cat-{{ d.id }}">
                <li aria-controls="modal-edit-{{ d.id }}" role="menuitem">
            <span class="menu__content js-menu__content">
              {{ icons('pen', classes='menu__icon') }}
              <span>Редактировать</span>
            </span>
                </li>

                <li aria-controls="modal-del-{{ d.id }}" role="menuitem">
            <span class="menu__content js-menu__content">
              {{ icons('trash-alt', classes='menu__icon') }}
              <span>Удалить</span>
            </span>
                </li>

                <li class="menu__separator" role="separator"></li>

                <li role="menuitem">
                  <a class="menu__content js-menu__content" href="/news/cat/{{ d.link }}" target="_blank">
                    {{ icons('external-link-alt', classes='menu__icon') }} Открыть категорию
                  </a>
                </li>
              </menu>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    {% for d in data %}
      {% call modal('edit-' ~ d.id, "Редактировать категорию в новостях") %}
        <form action="/admin/news/category/edit/{{ d.id }}" class="margin-bottom-sm"
              enctype="multipart/form-data"
              method="post">
          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxxs" for="edit-{{ d.id }}-name">Название</label>
            <input class="form-control width-100%" id="edit-{{ d.id }}-name" name="name"
                   placeholder="Дети и родители"
                   required type="text" value="{{ d.name }}">
          </div>

          <div class="flex flex-column flex-row@xs gap-xs">
            <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
            <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
          </div>

        </form>
      {% endcall %}


      {% call modal('del-' ~ d.id, "Удалить категорию из новостей", 'Вы уверены, что хотите удалить категорию "' ~ d.name ~ '"?') %}
        {% block modal_head %}
          <b class="color-error">Это приведёт к удалению всех постов с этой категорией!</b>
        {% endblock %}

        <div class="flex flex-column flex-row@xs gap-xs">
          <a class="btn btn--primary btn--md width-100%"
             href="/admin/news/category/del/{{ d.id }}">Удалить</a>
          <button class="btn btn--secondary btn--md width-100% js-modal__close" type="reset">Закрыть</button>
        </div>
      {% endcall %}
    {% endfor %}
  {% else %}
    <h3 class="text-component margin-bottom-sm text-center">Вы ещё не создали ни одной категории</h3>
  {% endif %}

  <button aria-controls="modal-new" class="btn btn--primary text-right">Создать категорию</button>

  <div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
       id="modal-new">
    <div aria-describedby="modal-form-description" aria-labelledby="modal-form-title"
         class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog">
      <div class="text-component margin-bottom-md">
        <h3 id="modal-form-title">Создать категорию в блоге</h3>
      </div>

      <form action="" class="margin-bottom-sm" enctype="multipart/form-data" method="post">
        <div class="margin-bottom-sm">
          <label class="form-label margin-bottom-xxxs" for="name">Название</label>
          <input class="form-control width-100%" id="name" name="name"
                 placeholder="Дети и родители" required type="text">
        </div>

        <div class="flex flex-column flex-row@xs gap-xs">
          <button class="btn btn--primary btn--md width-100%" type="submit">Создать</button>
          <button class="btn btn--secondary btn--md width-100%" type="reset">Отчистить</button>
        </div>

      </form>
    </div>

    <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
      <svg class="icon icon--sm" viewBox="0 0 24 24">
        <title>Закрыть модальное окно</title>
        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
          <line x1="3" x2="21" y1="3" y2="21"/>
          <line x1="21" x2="3" y1="3" y2="21"/>
        </g>
      </svg>
    </button>
  </div>
{% endblock %}
