{% extends 'layout/admin.html' %}
{% from 'layout/components.html' import image_input %}

{% block content %}
  <script src="/js/editor.js"></script>
  <div class="text-component text-center margin-bottom-sm">
    <h1>{{ "Редактирвание" if data.title else "Создание" }} поста</h1>
  </div>
  {% set max_character = 150 %}

  {% if not data %}
    {% set data = {} %}
  {% endif %}

  <form action="" class="margin-y-sm grid gap-sm" enctype="multipart/form-data" method="post">
    <div class="col-6@md">
      <label class="form-label margin-bottom-xxxs" for="title">Заголовок</label>
      <input class="form-control width-100%" id="title" name="title" placeholder="Грандиозная новость!"
             required type="text" value="{{ data.title }}">
    </div>

    <div class="col-6@md character-count js-character-count">
      <label class="form-label margin-bottom-xxs" for="description">Краткое описание:</label>
      <input class="form-control width-100% js-character-count__input" id="description" maxlength="{{ max_character }}"
             name="description" placeholder="Небольшое краткое описание" required type="text"
             value="{{ data.description }}">

      <div aria-atomic="true" aria-live="polite"
           class="character-count__helper character-count__helper--dynamic text-sm margin-top-xxxs">
        Осталось <span class="js-character-count__counter"></span> символов
      </div>

      <div class="character-count__helper character-count__helper--static text-sm margin-top-xxxs">
        Максимально {{ max_character }} символов
      </div>
    </div>
    {#
    <div class="col-6@md">
      <label class="form-label margin-bottom-xxs" for="custom_link">Короткая ссылка</label>
      <div class="input-group">
        <div class="input-group__tag">mp.zspo.ru/news/</div>
        <input class="form-control width-100%" type="url" placeholder="hot_news" name="custom_link" id="custom_link"
               value="{{ data.custom_link }}">
      </div>
    </div>
    #}

    <div class="col-6@md">
      <label class="form-label margin-bottom-xxxs" for="date">Дата публикации</label>
      <input class="form-control width-100%" id="date" name="date" required type="date"
             value="{{ data.get('date', date) }}">
    </div>

    <div class="col-12">
      <label class="form-label margin-bottom-xxs" for="content">Контент поста:</label>
      <textarea class="form-control width-100%" id="content" name="content" required>{{ data.content }}</textarea>
    </div>

    <script>
      Editor
        .create(document.querySelector('#content'), {
          simpleUpload: {
            uploadUrl: "/admin/ckeditor/upload_photo/news/media"
          },
        })
        .then(editor => {
          window.editor = editor;
        })
        .catch(error => {
          console.error('Oops, something gone wrong!');
          console.error(error);
        });
    </script>

    <div class="col-6@md">
      {{ image_input('image', 'Изображение публикации', data.image) }}
    </div>

    <div class="col-12 flex flex-column flex-row@xs gap-xs gap-xxs@xs">
      <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
      <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
    </div>
  </form>
{% endblock %}